.comment-form{
    display: flex;
}

.comment-form-input{
    border: 5px solid lightgrey;
    width: 50vw;
    height: 3vh;
}

.comment-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    padding-bottom: 10px;
}

.comment-item p {
    font-size: 13px;
}

.delete-btn {
    font-size: 10px;
}

.comment-item-user-pic{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
}

.comment-item-content{
    display: flex;
    align-items: center;
}

.comment-item-content p {
    padding-left: 3px;
}

.comment-item-content h4 {
    font-size: 13px;
    font-weight: 100;
    color: grey;
    padding-left: 3px;
}

