.discover-page-background{
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.discover-page {
    height: 100vh;
    width: 80vw;
    overflow-y: scroll;
    background-color: white;
    position: fixed;
    top: 3vw;
    display: flex;
    justify-content: space-between;
}

.discover-songs{
    width: 80vw;
    height: 90vh;
}

.discover-users{
    width: 20vw;
    height: 45%;
    margin-left: 10px;
    border-left: 1px solid lightgray;
    padding-left: 15px;
}

.discover-page h2 {
    padding-left: 10px;
}

.discover-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30vh;
    width: 62vw;
    border-bottom: 1px solid lightgrey;
    overflow-x: auto;    
}

.discover-chart-last{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30vh;
    width: 62vw;
    border-bottom: 1px solid lightgrey;
    overflow-x: auto; 
    padding-bottom: 90px;   
}

.dicover-item {
    float: left;
    padding: 20px;
}

.song-index-photo {
    height: 9vw;
    width: 9vw;
    border: 1px solid lightgrey;
}

.song-item-link{
    text-decoration: none;
    color: black;
}

.discover-img-btn{
    height: 12vw;
    width: 12vw;
}

.discover-user-pic{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
}

.discover-users-li{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.discover-user-username{
    text-decoration: none;
    color: black;
}