.discover-page-background{
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.discover-page {
    height: 100vh;
    width: 80vw;
    overflow: scroll;
    background-color: white;
    position: fixed;
    top: 3vw;
    
}

.discover-hot-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    height: 35vh;
    width: 75vw;
    border-bottom: 1px solid lightgrey;
}



.dicover-hot-chart-item {
    float: left;
    padding: 20px;
}