.discover-page {
    height: 100vh;
    width: 80vw;
    overflow: scroll;
    background-color: white;
    position: fixed;
    top: 4vw;
}

.discover-hot-chart {
    display: flex;
    flex-direction: row;
    background-color: pink;
    height: 35vh;
    width: 75vw;
    overflow: scroll;
}



.dicover-hot-chart-item {
    float: left;
}