.nav-bar{
    width: 100vw;
    height: 3vw;
    background-color: #333;
    display: flex;
    justify-content: center;
}

.nav-bar-inner{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-btn {
    color: #ccc;
    text-decoration: none;
}

.upload-btn:hover {
    color: white;
} 

.nav-logo-link{
    text-decoration: none;
    color: white;
}

.nav-search-bar{
    height: 1.5vw;
    width: 30vw;
}