.music-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.playbar-audio{
    width: 60vw;
    height: 6vh;
}

.playbar-photo{
    height: 4.5vh;
    width: 4.5vh;
    padding-right: 4px;
}

.playbar-title{
    
}