.filtered-songs{
    position: fixed;
    top: 6.2vh;
    z-index: 26;
    width: 30.5vw;
    
}

.search-title{
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    background-color: #333;
    color: rgb(177, 177, 177);
}

.search-result{
    display: flex;
    align-items: center;
    background-color: rgb(19, 19, 19);
    height: 5vh;
    width: 30.5vw;
}

.search-result:hover{
    background-color: #333;
}

.search-result-title{
    font-size: 14px;
    font-weight: 400;
}

.search-result-link{
    text-decoration: none;
    color: rgb(177, 177, 177);
}
