.show-page-background {
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.show-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 80vw;
    background-color: white;
    position: fixed;
    top: 3vw;
}

.song-info {
    position: fixed;
    top: 10vh;
    width: 75vw;
    height: 100vh;
    
}

.song-info h1 {
    font-size: 50px;
}

.song-info h3 {
    font-size: 15px;
}

.song-info p {
    font-size: 20px;
}

.song-photo {
    height: 25vh;
    width: 25vh;
}