.upload-page {
    
    height: 100vh;
    display: flex;
    justify-content: center;

}

.upload-form {
    position: fixed;
    top: 3vw;
    width: 60vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}

