.user-show-page{
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-show{
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 80vw;
    background-color: white;
}

.user-show-info{
    width: 80vw;
    height: 35vh;
    background: rgb(255,110,0);
    display: flex;
    align-items: center;

}

.user-profile-pic{
    height: 31vh;
    width: 31vh;
    border-radius: 50%;
    margin-left: 30px;
}

.user-name{
    padding-left: 20px;
    height: 70%;
}

.user-name h1 {
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    border: 7px solid black;
}

.user-name h2 {
    font-size: 20px;
    font-weight: lighter;
    background-color: black;
    color: white;
    border: 7px solid black;
}